<h2 class="section-title">查询</h2>
<div id="query_bar" class="query_bar"></div>
<div class="card">
	<div class="card-header func-buttons">
		
	</div>
	<div class="icard-block card-block-full" id="data_content" style="overflow-x: auto;">
		
	</div>
</div>