<!-- AppUI CSS stylesheets -->
<link rel="stylesheet" id="css-font-awesome" href="templates/white/assets/css/font-awesome.css">
<link rel="stylesheet" id="css-ionicons" href="templates/white/assets/css/ionicons.css">
<link rel="stylesheet" id="css-bootstrap" href="templates/white/assets/css/bootstrap.css">
<link rel="stylesheet" id="css-app" href="templates/white/assets/css/app.css">
<link rel="stylesheet" id="css-app-custom" href="templates/white/assets/css/app-custom.css">
<div class="app-ui layout-has-drawer layout-has-fixed-header">
	<div class="app-layout-canvas" >
		<div class="app-layout-container"  id="tpl-container">
			<aside class="app-layout-drawer" id="menu-container">
			</aside>
		</div>
		<header class="app-layout-header">
		</header>
		<main class="app-layout-content">
			<div class="container-fluid p-y-md" id="content-body">
			</div>
			
		</main>
	</div>
</div>