<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="form-group  col-md-12">
							<div class="col-lg-3">
								<div class="am-panel am-panel-default">
									<div class="am-panel-hd">组织机构 </div>
									<!--<input type="button" id="addRole" class="btn btn-primary add_dep" style="display: none;" value="新增部门" />-->
									<div class="am-panel-bd ">
										<div class="zTreeDemoBackground left">
											<ul id="org_tree" class="ztree"></ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="am-panel am-panel-default">
									<div class="am-panel-bd clearfix">
										<div id="showRoleInfo" class="showRoleInfocss">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>